.flow-info-container
{
    padding: 4px;
    border-radius: 4px;
    position: absolute;
    bottom: 25px;
    margin-left: 10px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
}

.flow-info-container:hover{
    background-color: #000000;
}

.flow-info {
    cursor: link;
    padding: 2px 4px;
    font-size: 11px;
}

.flow-info:hover {
    color: #ffffff;
    border-radius: 4px;
    background-color: #00507e;
}